parent-container {margin: auto}


body { border-color: violet;
    box-shadow: 5px 5px 5px 5px black;
    margin-top: 10em ;
    height: 15em;
    width: 35em ;
    transform: rotate(-10deg);
    margin-left: 30em }


h1{ color:firebrick}

    span { font-weight: bold; }

        li {font-style: italic; }

        p {font-weight: lighter; }
